<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mau Anh's portfolio template</title>
    <link rel="stylesheet" href="../../css/mauanh-portfolio.css">
</head>

<body>
    <div class="portfolio-container">
        <div class="self-related-container">
            <div class="idk-lol">
                <img src="../../img/2bd47b15-5993-45cb-a459-88c10318cf51.jpeg" alt="Mau-Anh-image">
                <h2>Mậu Anh Lê</h2>
                <div>Nhân viên kinh doanh</div>
            </div>

            <div class="personal-information">
                <div class="section-header">
                    <h3>Thông tin cá nhân</h3>
                    <div class="section-line"></div>
                </div>
                <div>0123 456 789</div>
                <div>menogay024@gmail.com</div>
                <div>facebook.com/TopCV.vn</div>
                <div>phường Thống Nhất, Gia Lai</div>
            </div>

            <div class="skill-information">
                <div class="section-header">
                    <h3>Kỹ năng</h3>
                    <div class="section-line"></div>
                </div>
                <div>Giao tiếp trôi chảy tiếng Anh và tiếng Nhật</div>
                <div>Thuyết trình trước đám đông</div>
                <div>Làm việc nhóm</div>
            </div>

            <div class="referrer">
                <div class="section-header">
                    <h3>Người giới thiệu</h3>
                    <div class="section-line"></div>
                </div>
                <div>Nguyen Thanh Dat - Naitei 2027</div>
                <div>Vo Ba Hoang Anh - Lo Vuong 2k5</div>
            </div>

            <div class="awards-prizes">
                <div class="section-header">
                    <h3>Danh hiệu và giải thưởng</h3>
                    <div class="section-line"></div>
                </div>
                <div>2024</div>
                <div>Nhân viên Kinh doanh xuất sắc nhất Quý I và Quý II năm 2024</div>
            </div>

            <div class="certificate">
                <div class="section-header">
                    <h3>Chứng chỉ</h3>
                    <div class="section-line"></div>
                </div>
                <div>2022</div>
                <div>SCPS™ Chuyên viên bán hàng chuyên nghiệp</div>
            </div>

            <div class="hobby">
                <div class="section-header">
                    <h3>Sở thích</h3>
                    <div class="section-line"></div>
                </div>
                <div>Thể thao</div>
            </div>

            <div class="work-related-information-container">
                 <div class="section-header">
                    <h3>Danh hiệu và giải thưởng</h3>
                    <div class="section-line"></div>
                </div>
                <div>ielts</div>
                <div>jlpt</div>
            </div>
        </div>

        <div class="job-container">
            <div class="job-goal">
                <div class="section-header">
                    <h3>Mục tiêu nghề nghiệp</h3>
                    <div class="section-line"></div>
                </div>
                <p>Với hơn 3 năm kinh nghiệm làm việc tại vị trí Nhân viên kinh doanh, tôi có nền
                tảng vững chắc về quy trình bán hàng, kỹ năng nắm bắt tâm lý khách hàng và kinh
                nghiệm chốt sales. Tại công ty gần nhất, tôi đã tư vấn và xây dựng mối quan hệ
                bền vững với hơn 200 khách hàng lớn, đạt danh hiệu Nhân viên kinh doanh xuất
                sắc năm 2024. Tôi mong muốn có cơ hội làm việc tại Quý công ty để nâng cao kỹ
                năng chuyên môn đồng thời đóng góp sự phát triển bền vững của công ty trong
                tương lai.</p>
            </div>

            <div class="job-experience">
                <div class="section-header">
                    <h3>Kinh nghiệm làm việc</h3>
                    <div class="section-line"></div>
                </div>
                <h3>Chuyên viên viên kinh doanh</h3>
                <h3>Công ty cổ phần nội thất HLT</h3>
                <ul>
                    <li>Tìm kiếm khách hàng mới thông qua các kênh: LinkedIn, Facebook, Zalo, EmailMarketing để phát triển mạng lưới khách hàng và tăng độ phủ thương hiệu.</li>
                    <li>Phân tích nhu cầu khách hàng để đưa ra các đề xuất cải tiến quy trình bán hàng, tối ưu hóa chiến lược tiếp cận khách hàng.</li>
                    <li>Quản lý và phát triển mối quan hệ với hơn 200 khách hàng lớn, gồm các nhóm khách hàng chiến lược trong ngành đồ gia dụng và nội thất, giúp duy trì hợp đồng dài hạn và gia tăng doanh thu.</li>
                    <li>Phối hợp với bộ phận Marketing triển khai các chiến dịch quảng cáo, khuyến mãi và các hoạt động marketing để mở rộng tệp khách hàng tiềm năng và tăng trưởng doanh thu.</li>
                    <li>Theo dõi tình trạng đơn hàng và hỗ trợ giải đáp thắc mắc của khách hàng.</li>
                    <li>Hỗ trợ giải đáp của khách hàng sau khi mua sản phẩm, giúp nâng cao trải nghiệm sau mua và duy trì mối quan hệ lâu dài với khách hàng.</li>
                    <li>Thành tựu: Đạt danh hiệu "Nhân viên xuất sắc nhất năm 2024" với doanh sốvượt 15% KPI trong Quý I và Quý II.</li>
                </ul>
                <h3>Nhân viên kinh doanh</h3>
                <h3>Công ty cổ phần MML</h3>
                <ul>
                    <li>Tìm kiếm và phát triển mối quan hệ với khách hàng tiềm năng, đồng thời duy trì kết nối với khách hàng cũ, hỗ trợ giải đáp thắc mắc và xử lý các khiếu nại liên quan đến sản phẩm/dịch vụ.</li>
                    <li>Tổng hợp thông tin, đánh giá tình hình kinh doanh của đối thủ, đề xuất phương án triển khai để tăng doanh số bán hàng cho doanh nghiệp.</li>
                    <li>Gửi mail thông báo chương trình khuyến mãi, hội chợ, trải nghiệm sản phẩm cho khách hàng.</li>
                    <li>Tổ chức triển khai sự kiện, chương trình PR sản phẩm của công ty.</li>
                    <li>Lên dự thảo hợp đồng, báo giá gửi khách hàng.</li>
                    <li>Làm báo cáo tuần/tháng/quý về tiến độ công việc.</li>
                </ul>
            </div>

            <div class="academic">
                <div class="section-header">
                    <h3>Học vấn</h3>
                    <div class="section-line"></div>
                </div>
                <div class="with-year">
                    <div>Quản trị kinh doanh</div>
                    <div>2017 - 2021</div>
                </div>
                <div>Đại học Kinh tế TOPCV</div>
                <div>Chuyên ngành Quản trị doanh nghiệp</div>
            </div>

            <div class="activity">
                <div class="section-header">
                    <h3>Hoạt động</h3>
                    <div class="section-line"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

                