<!DOCTYPE html>
<html lang="vi">\

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mau Anh's portfolio template</title>
    <link rel="stylesheet" href="../../css/mauanh-portfolio.css">
</head>

<body>
    <div class="portfolio-container">
        <div class="self-related-container">
            <div class="idk-lol">
                <img src="../../img/2bd47b15-5993-45cb-a459-88c10318cf51.jpeg" alt="Mau-Anh-image">
            <h2>Mậu Anh Lê</h2>
            <div>Nhân viên kinh doanh</div>
            </div>

            <div class="personal-information">
                <h3>Thông tin cá nhân</h3>
                <div>0123 456 789</div>
                <div>menogay024@gmail.com</div>
                <div>facebook.com/TopCV.vn</div>
                <div>phường Thống Nhất, Gia Lai</div>
            </div>

            <div class="skill-information">
                <h3>Kỹ năng</h3>
                <div>Giao tiếp trôi chảy tiếng Anh và tiếng Nhật</div>
                <div>Thuyết trình trước đám đông</div>
                <div>Làm việc nhóm</div>
            </div>

            <div class="referrer">
                <h3>Người giới thiệu</h3>
            </div>

            <div class="awards-prizes">
                <h3>Danh hiệu và giải thưởng</h3>
                <div>2024</div>
                <div>Nhân viên Kinh doanh xuất sắc nhất Quý I và Quý II năm 2024</div>
            </div>

            <div class="certificate">
                <h3>Chứng chỉ</h3>
                <div>2022</div>
                <div>SCPS™ Chuyên viên bán hàng chuyên nghiệp</div>
            </div>

            <div class="hobby">
                <h3>Sở thích</h3>
                <div>Thể thao</div>
            </div>

            <div class="work-related-information-container">
                <h3>Danh hiệu và giải thưởng</h3>\
                <div>ielts</div>
                <div>jlpt</div>
            </div>
        </div>
    </div>
</body>

</html>

