.cv-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}
.cv-form input {
  padding: 8px;
  border: 1px solid #ccc;
}

/* Mau Anh's code */

h1 {
  width: 963px;

  color: #000;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.56px;

  margin-top: 80px;
  margin-left: 85px;
}


.Category {
  display: inline-flex;
  align-items: center;
  gap: 28px;

  margin-top: 80px;
  margin-left: 86px;
}

.Category-Card1.Category-Card2.Category-Card3.Category-Card4 {
  color: var(--M3-sys-light-secondary, var(--Schemes-Secondary, #625B71));

  font-family: var(--Static-Titile-Medium-Font, Roboto);
  font-size: var(--Static-Title-Medium-Font-Size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Static-Title-Medium-Line-Height, 24px); /* 150% */
  letter-spacing: var(--Static-Title-Medium-tracking, 0.15px);
}
