.cv-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}
.cv-form input {
  padding: 8px;
  border: 1px solid #ccc;
}

/* Mau Anh's code */

h1 {
  width: 963px;

  color: #000;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.56px;

  margin-top: 80px;
  margin-left: 85px;
}


.Category {
  display: inline-flex;
  align-items: center;
  gap: 28px;

  margin-top: 80px;
  margin-left: 86px;
}

.Category-Card1, .Category-Card2, .Category-Card3, .Category-Card4 {
  color: var(--M3-sys-light-secondary, var(--Schemes-Secondary, #625B71));

  font-family: var(--Static-Titile-Medium-Font, Roboto);
  font-size: var(--Static-Title-Medium-Font-Size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Static-Title-Medium-Line-Height, 24px); /* 150% */
  letter-spacing: var(--Static-Title-Medium-tracking, 0.15px);
}

.Template-container{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: repeat(2, 560px);
  row-gap: 60px;
  column-gap: 124px;

  margin-left: 85px;
  margin-top: 90px;
}


.Template-Card {
  border-radius: 29px;
  border: 1px solid #000;
  background: #F2F2F2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.Template-Thumbnail {
  width: 300px;
  height: 401px;
  margin-left: 20px;
  margin-top: 20px;
  flex-shrink: 0;

  border-radius: 20px 20px 0 0;
  border: 1px solid #000;
  background: url(images/mau-cv-an-tuong-1.webp) lightgray 0px -4.731px / 100% 106.149% no-repeat;
}

